/*=========================
  Icons
 ================= */


/* footer social icons */

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-circle li a {
    /* display:inline-block; */
    /* position:relative; */
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
}

.bookmark-info {
    background-color: #ffffff;
    border: 1px solid black;
    /* padding: 11px; */
}

.bookmark-info:hover {
    background-color: #000;
    color: white;
}

.bg-icon-selected {
    /* background-color: rgb(169, 238, 190); */
    /* color: white; */
}

img.wh {
    width: 480px !important;
    height: 350px !important;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.profile {
    font-family: 'Lato', 'sans-serif';
}

.profile {
    /*    height: 321px;
    width: 265px;*/
    margin-top: 2px;
    padding: 1px;
    display: inline-block;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
    border-top: 1px solid transparent;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.profile strong,
span,
div {
    text-transform: initial;
}

.not-checked {
    color: #E2E1DE;
}

.checked {
    color: #FFC200;
}

.notliked {
    background: white;
}


/* my account page bookmark card */

.main-card img {
    max-width: 200px;
    max-height: 160px;
    clip-path: circle();
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.main-card {
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
}

.share_btn {
    font-size: 36px;
    cursor: pointer;
}

.share_links {
    list-style: none;
}

.share_links li {
    display: inline-block;
    background-color: black;
    margin: 15px;
    border-radius: 50%;
    background: #000;
}

.share_icon {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    height: 80px;
    width: 80px;
}

.share_links .bg_fb:hover {
    color: #fff;
    background: #3b5998;
}

.share_links .bg_insta:hover {
    color: #fff;
    background: #70c5ed;
}

.share_links .bg_whatsapp:hover {
    color: #fff;
    background: #1181d7;
}

.share_links li:hover .share_icon {
    color: #fff;
}

.modal-open {
    overflow-y: auto !important;
}

.post-row {
    background-color: white;
    width: 1300px;
    height: 360px;
    color: #000;
    padding: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid black; */
}

.main-div {
    margin-left: 115px;
}

.box {
    width: 50%;
    height: 0;
    background-color: white;
    /* border-radius: 30px; */
    display: flex;
    align-items: center;
    padding: 20px;
    width: 50%;
}

.box>i {
    font-size: 20px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.wrn-btn {
    /* margin-: auto; */
    margin: 0 -60px 0 0;
}

.search-submit-btn .btn {
    padding: 10px 13px !important;
    border-radius: 0 !important;
    border: 0 !important;
}

.s130 {
    /* min-height: 100vh; */
    /* display: -ms-flexbox; */
    display: block;
    /* -ms-flex-pack: center; */
    /* justify-content: center; */
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.s130 form {
    width: 100%;
    /* max-width: 790px; */
}

.s130 form .inner-form {
    display: flex;
    /* width: 100%; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    /* border-radius: 34px; */
    overflow: hidden;
    /* margin-left: 112px; */
    margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
    height: 55px;
}

.s130 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:hover,
.s130 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #d9f1e3;
}

.s130 form .inner-form .input-field.first-wrap input {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
    min-width: 140px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #00ad5f;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
    background: #009451;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s130 form .info {
    font-size: 15px;
    color: #ccc;
    padding-left: 26px;
}

@media screen and (max-width: 992px) {
    .s130 form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .s130 form .inner-form {
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
        /* border-radius: 34px; */
        overflow: hidden;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .s130 form .inner-form .input-field.first-wrap .svg-wrapper {
        min-width: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
    }
    .s130 form .inner-form .input-field.first-wrap svg {
        width: 26px;
        height: 26px;
        fill: #222;
    }
    .s130 form .inner-form .input-field.second-wrap {
        min-width: 100px;
    }
    .s130 form .inner-form .input-field.second-wrap .btn-search {
        font-size: 13px;
    }
    .content-card {
        margin-left: -20px;
        margin-top: 25px;
        width: 100% !important;
    }
    img.wh {
        /* width: 100% !important; */
        height: 300px !important;
    }
}


/*# sourceMappingURL=Searchs_130.css.map */

a.page-numbers {
    font-size: 14px;
    color: #484848;
    margin-top: 0;
    border-radius: 0px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    display: inline;
    height: auto;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    /* align-items: center; */
    /* background: #fff; */
    /* box-shadow: 0 1px 4px #00000012; */
    flex-direction: unset;
    /* align-content: center; */
}

.posts_loadmore {
    background-color: #000;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    margin: 12px auto;
    border-radius: 2px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.posts_loadmore:hover {
    background-color: #00ad5f;
}

.ul-class {
    display: flex;
    list-style: none
}

.ul-class li {
    margin: 4px;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.ul-class li:hover {
    background-color: rgb(247, 245, 245);
    color: #fff;
    /* font-size: 17px */
}

.ul-class li::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear
}

.ul-class li:nth-child(1) {
    border: 1px solid #3E3B3B;
    color: #3E3B3B;
}

.ul-class li:nth-child(2) {
    border: 1px solid #3E3B3B;
    color: #3E3B3B;
}

.ul-class li:nth-child(3) {
    border: 1px solid #3E3B3B;
    color: #3E3B3B;
}

.ul-class li:nth-child(4) {
    border: 1px solid #3E3B3B;
    color: #3E3B3B;
}

#fb-share {
    cursor: pointer;
}

.content-card {
    margin-left: 30px;
}

.cta-button {
    margin-left: -36px;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.card-post-content p {
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

.card-post-title {
    font-family: Gotham;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 20px;
}

.cta-btn-card {
    background: #80BA3F;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    /* border-radius: 6px; */
    margin: 30px;
}

.cta-title {
    margin-top: 15px;
}

.review-count-card {
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.ul-class li:hover,
.ul-class li i:hover {
    color: black;
}

a:hover {
    color: black;
}

.post-row {
    height: auto;
}


/* new card */

.card-title {
    font-family: Gotham;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 16px;
    /* margin-bottom: 20px; */
    font-size: 20px;
}

.card-text,
.card-body p {
    /* font-family: Gotham !important; */
    font-size: 16px !important;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
}

.card-section {
    /* background-color: white; */
}

.card-block {
    padding-top: 7px;
}

.card-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.post-image-card {
    width: 480px;
    height: 313px;
}

.card-row {
    padding: 12px;
}

.bookmark-icon-card {
    margin-top: 100px !important;
}


/* responsive part */

@media(max-width:700px) {
    .bookmark {
        margin: 5px;
    }
}

@media (max-width:700px) {
    .bookmark-icon-card {
        margin-top: 0 !important;
    }
}

.btn-card {
    font-family: Gotham !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 17px !important;
    letter-spacing: 0em;
    text-align: left n!important;
    background: #80BA3F;
    color: white;
    padding: 10px !important;
    ;
}

.btn-card:hover {
    color: whitesmoke !important;
}

img.card-img-top {
    height: 250px !important;
}

.card-full {
    height: 450px;
    margin-bottom: 10px;
}

.no-posts {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.middle-card {
    border-right: 1px solid #8080803b;
}